.page {
  min-width: 768px;
  font-family: "golos";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .page {
    min-width: 320px;
  }
}
